<% title('Weather Now') %>

<h1><i class="fa fa-bolt"></i>Weather Now <small>Powered by OpenWeather API</small></h1>

<p>You can get the weather of any place just by selecting it on the map, and hitting the <strong>Get Weather</strong> button</p>

<!-- Google Maps Location Picker -->
<div class="col-sm-8">
  <%= render_gmap_coordinate_picker zoom_level: 10, autocomplete: { enable: true, class: 'form-control' }  %>
  <br>
  <a href="#" class="btn btn-primary">Get Weather</a>
</div>

<!-- City Info Card -->
<div class="col-sm-4">
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="<%= gmap_home_thumb %>" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Berlin</h4>
      <p class="card-text">
        <strong>Latitude: </strong>30.0<br />
        <strong>Longitude: </strong>30.0<br />
        <br />
        <strong>Weather Temp Min: </strong>30.0<br />
        <strong>Weather Temp Max: </strong>30.0<br />
        <br />
        <strong>Humdity: </strong>20%<br />
        <strong>Pressure: </strong>20%<br />
        <strong>Wind Speed: </strong>20%<br />
        <br />
        <strong>Sunrise: </strong>20%<br />
        <strong>Sunset: </strong>20%<br />
      </p>
    </div>
  </div>
</div>
