<p id="notice"><%#= notice %></p>
<p id="alert"><%= alert %></p>

<% title('Weather Now') %>

<h1>Weather Now <small>Powered by OpenWeather API</small></h1>

<p>You can get the weather of any place just by selecting it on the map, and hitting the <strong>Get Weather</strong> button</p>

<%= render partial: 'gmap_picker', locals: { weather: @weather } %>

<% if @weather %>
  <%= render partial: 'weather_info', locals: { weather: @weather } %>
<% end %>
