<!-- Google Maps Location Picker -->
<div class="col-sm-8">
  <%= form_tag('/query_for_weather') do %>
    <div>
      <% coord = @weather ? [@weather[:latitude], @weather[:longitude]] : [52.520199, 13.409859] %>
      <%= render_map_picker zoom_level: 10, default_coordinates: coord, autocomplete: { enable: true, class: 'form-control' }, api_key: 'AIzaSyBhdfWaDqRCBxKAyOUqvAS3kPVoVl1QnGA' %>
      <br>
      <div class="actions"><%= submit_tag 'Get Weather', class: 'btn btn-primary' %></div>
    </div>
  <% end -%>
</div>
